body {
    background-image: url("world.png");
    background-size: cover;
    background-repeat: no-repeat;
}
p {
    font-family: "Arial Narrow", cursive;
    font-size: 1em;
    color: antiquewhite;
}
h1 {
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: coral;
}
.container_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 10px;
}
.container_c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}
.card{
    height: 200px;
    width: 200px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front {
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
}
.back{
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card{
    transform: rotateY(180deg);
}

.container{
    perspective: 1000px;
}